# google-covid-19-mobility-data-process-europe

In this notebook I will refine the process from `google-covid-19-mobility-data-process-v1` in order to get the highest resolution data possible for a map of Europe.

In [1]:
import pandas as pd
import requests
import simplejson as json
import numpy as np

---

## Load a reduced CSV containing just the United States entries

In [2]:
europeDf = pd.read_csv("./output-data/europe.csv")

In [3]:
europeDf.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AT,Austria,NaN,NaN,NaN,NaN,NaN,ChIJfyqdJZsHbUcRr8Hk3XvUEhA,2020-02-15,9.0,1.0,42.0,13.0,0.0,-2.0
1,AT,Austria,NaN,NaN,NaN,NaN,NaN,ChIJfyqdJZsHbUcRr8Hk3XvUEhA,2020-02-16,15.0,21.0,42.0,12.0,1.0,-2.0
2,AT,Austria,NaN,NaN,NaN,NaN,NaN,ChIJfyqdJZsHbUcRr8Hk3XvUEhA,2020-02-17,9.0,5.0,35.0,3.0,-4.0,0.0
3,AT,Austria,NaN,NaN,NaN,NaN,NaN,ChIJfyqdJZsHbUcRr8Hk3XvUEhA,2020-02-18,8.0,5.0,40.0,2.0,-4.0,0.0
4,AT,Austria,NaN,NaN,NaN,NaN,NaN,ChIJfyqdJZsHbUcRr8Hk3XvUEhA,2020-02-19,4.0,2.0,10.0,-1.0,-5.0,1.0

---

**`sub_reigon_1` is regions**

In [6]:
europeDf["sub_region_1"].unique()

array([nan, 'Burgenland', 'Carinthia', 'Lower Austria', 'Salzburg',
       'Styria', 'Tyrol', 'Upper Austria', 'Vienna', 'Vorarlberg',
       'Brussels', 'Flanders', 'Wallonia', 'Blagoevgrad Province',
       'Burgas', 'Dobrich Province', 'Gabrovo', 'Haskovo Province',
       'Jambol', 'Kardzhali Province', 'Kyustendil Province', 'Lovec',
       'Montana Province', 'Pazardzhik', 'Pernik', 'Pleven Province',
       'Plovdiv Province', 'Razgrad', 'Ruse', 'Shumen Province',
       'Silistra', 'Sliven Province', 'Smoljan', 'Sofia City Province',
       'Sofia Province', 'Stara Zagora', 'Targovishte Province', 'Varna',
       'Veliko Tarnovo Province', 'Vidin', 'Vraca',
       'Central Bohemian Region', 'Hradec Králové Region',
       'Karlovy Vary Region', 'Liberec Region',
       'Moravian-Silesian Region', 'Olomouc Region', 'Pardubice Region',
       'Plzeň Region', 'Prague', 'South Bohemian Region',
       'South Moravian Region', 'Ústí nad Labem Region',
       'Vysočina Region', 'Zlín Region', 'Baden-Württemberg', 'Bavaria',
       'Berlin', 'Brandenburg', 'Bremen', 'Hamburg', 'Hessen',
       'Lower Saxony', 'Mecklenburg-Vorpommern', 'North Rhine-Westphalia',
       'Rhineland-Palatinate', 'Saarland', 'Saxony', 'Saxony-Anhalt',
       'Schleswig-Holstein', 'Thuringia', 'Capital Region of Denmark',
       'Central Denmark Region', 'North Denmark Region',
       'Region of Southern Denmark', 'Region Zealand', 'Harju County',
       'Hiiu County', 'Ida-Viru County', 'Järva County', 'Jõgeva County',
       'Lääne County', 'Lääne-Viru County', 'Pärnu County',
       'Põlva County', 'Rapla County', 'Saare County', 'Tartu County',
       'Valga County', 'Viljandi County', 'Võru County', 'Andalusia',
       'Aragon', 'Asturias', 'Balearic Islands', 'Basque Country',
       'Canary Islands', 'Cantabria', 'Castile and León',
       'Castile-La Mancha', 'Catalonia', 'Ceuta', 'Community of Madrid',
       'Extremadura', 'Galicia', 'La Rioja', 'Melilla', 'Navarre',
       'Region of Murcia', 'Valencian Community', 'Central Finland',
       'Central Ostrobothnia', 'Kainuu', 'Kymenlaakso', 'Lapland',
       'North Karelia', 'Northern Ostrobothnia', 'Northern Savonia',
       'Ostrobothnia', 'Päijänne Tavastia', 'Pirkanmaa', 'Satakunta',
       'South Karelia', 'Southern Ostrobothnia', 'Southern Savonia',
       'Southwest Finland', 'Tavastia Proper', 'Uusimaa',
       'Auvergne-Rhône-Alpes', 'Bourgogne-Franche-Comté', 'Brittany',
       'Centre-Val de Loire', 'Corsica', 'Grand Est', 'Hauts-de-France',
       'Île-de-France', 'Normandy', 'Nouvelle-Aquitaine', 'Occitanie',
       'Pays de la Loire', "Provence-Alpes-Côte d'Azur", 'Aberdeen City',
       'Aberdeenshire', 'Angus Council', 'Antrim and Newtownabbey',
       'Ards and North Down', 'Argyll and Bute Council',
       'Armagh City, Banbridge and Craigavon',
       'Bath and North East Somerset', 'Bedford', 'Belfast',
       'Blackburn with Darwen', 'Blackpool', 'Blaenau Gwent',
       'Borough of Halton', 'Bracknell Forest', 'Bridgend County Borough',
       'Brighton and Hove', 'Bristol City', 'Buckinghamshire',
       'Caerphilly County Borough', 'Cambridgeshire', 'Cardiff',
       'Carmarthenshire', 'Causeway Coast and Glens',
       'Central Bedfordshire', 'Ceredigion', 'Cheshire East',
       'Cheshire West and Chester', 'Clackmannanshire',
       'Conwy Principal Area', 'Cornwall', 'County Durham', 'Cumbria',
       'Darlington', 'Denbighshire', 'Derby', 'Derbyshire',
       'Derry and Strabane', 'Devon', 'Dorset', 'Dumfries and Galloway',
       'Dundee City Council', 'East Ayrshire Council',
       'East Dunbartonshire Council', 'East Lothian Council',
       'East Renfrewshire Council', 'East Riding of Yorkshire',
       'East Sussex', 'Edinburgh', 'Essex', 'Falkirk',
       'Fermanagh and Omagh', 'Fife', 'Flintshire', 'Glasgow City',
       'Gloucestershire', 'Greater London', 'Greater Manchester',
       'Gwynedd', 'Hampshire', 'Hartlepool', 'Herefordshire',
       'Hertfordshire', 'Highland Council', 'Inverclyde',
       'Isle of Anglesey', 'Isle of Wight', 'Kent', 'Kingston upon Hull',
       'Lancashire', 'Leicester', 'Leicestershire', 'Lincolnshire',
       'Lisburn and Castlereagh', 'Luton', 'Medway', 'Merseyside',
       'Merthyr Tydfil County Borough', 'Mid and East Antrim',
       'Mid Ulster', 'Middlesbrough', 'Midlothian', 'Milton Keynes',
       'Monmouthshire', 'Moray', 'Na h-Eileanan an Iar',
       'Neath Port Talbot Principle Area', 'Newport',
       'Newry, Mourne and Down', 'Norfolk', 'North Ayrshire Council',
       'North East Lincolnshire', 'North Lanarkshire',
       'North Lincolnshire', 'North Somerset', 'North Yorkshire',
       'Northamptonshire', 'Northumberland', 'Nottingham',
       'Nottinghamshire', 'Orkney', 'Oxfordshire', 'Pembrokeshire',
       'Perth and Kinross', 'Peterborough', 'Plymouth', 'Portsmouth',
       'Powys', 'Reading', 'Redcar and Cleveland', 'Renfrewshire',
       'Rhondda Cynon Taff', 'Rutland', 'Scottish Borders',
       'Shetland Islands', 'Shropshire', 'Slough', 'Somerset',
       'South Ayrshire Council', 'South Gloucestershire',
       'South Lanarkshire', 'South Yorkshire', 'Southampton',
       'Southend-on-Sea', 'Staffordshire', 'Stirling', 'Stockton-on-Tees',
       'Stoke-on-Trent', 'Suffolk', 'Surrey', 'Swansea', 'Swindon',
       'Thurrock', 'Torbay', 'Torfaen Principal Area', 'Tyne and Wear',
       'Vale of Glamorgan', 'Warrington', 'Warwickshire',
       'West Berkshire', 'West Dunbartonshire Council', 'West Lothian',
       'West Midlands', 'West Sussex', 'West Yorkshire', 'Wiltshire',
       'Windsor and Maidenhead', 'Wokingham', 'Worcestershire',
       'Wrexham Principal Area', 'York',
       'Decentralized Administration of Attica',
       'Decentralized Administration of Crete',
       'Decentralized Administration of Epirus and Western Macedonia',
       'Decentralized Administration of Macedonia and Thrace',
       'Decentralized Administration of Peloponnese, Western Greece and the Ionian',
       'Decentralized Administration of the Aegean',
       'Decentralized Administration of Thessaly and Central Greece',
       'Bjelovar-Bilogora County', 'Brod-Posavina County',
       'City of Zagreb', 'Dubrovnik-Neretva County', 'Istria County',
       'Karlovac County', 'Koprivnica-Križevci County',
       'Krapina-Zagorje County', 'Lika-Senj County', 'Međimurje County',
       'Osijek-Baranja County', 'Požega-Slavonia County',
       'Primorje-Gorski Kotar County', 'Šibenik-Knin County',
       'Sisak-Moslavina County', 'Split-Dalmatia County',
       'Varaždin County', 'Virovitica-Podravina County',
       'Vukovar-Srijem County', 'Zadar County', 'Zagreb County',
       'Bács-Kiskun', 'Baranya', 'Békés County', 'Borsod-Abaúj-Zemplén',
       'Budapest', 'Csongrád', 'Fejér', 'Gyor-Moson-Sopron',
       'Hajdú-Bihar', 'Heves County', 'Jász-Nagykun-Szolnok',
       'Komárom-Esztergom', 'Nógrád County', 'Pest County',
       'Somogy County', 'Szabolcs-Szatmár-Bereg', 'Tolna County',
       'Vas County', 'Veszprém', 'Zala County', 'County Carlow',
       'County Cavan', 'County Clare', 'County Cork', 'County Donegal',
       'County Dublin', 'County Galway', 'County Kerry', 'County Kildare',
       'County Kilkenny', 'County Laois', 'County Leitrim',
       'County Limerick', 'County Longford', 'County Louth',
       'County Mayo', 'County Meath', 'County Monaghan', 'County Offaly',
       'County Roscommon', 'County Sligo', 'County Tipperary',
       'County Waterford', 'County Westmeath', 'County Wexford',
       'County Wicklow', 'Abruzzo', 'Aosta', 'Apulia', 'Basilicata',
       'Calabria', 'Campania', 'Emilia-Romagna', 'Friuli-Venezia Giulia',
       'Lazio', 'Liguria', 'Lombardy', 'Marche', 'Molise', 'Piedmont',
       'Sardinia', 'Sicily', 'Trentino-South Tyrol', 'Tuscany', 'Umbria',
       'Veneto', 'Alytus County', 'Kaunas County', 'Klaipėda County',
       'Marijampolė County', 'Panevėžys County', 'Šiauliai County',
       'Tauragė County', 'Telšiai County', 'Utena County',
       'Vilnius County', 'Ādaži Municipality', 'Aizkraukle Municipality',
       'Aloja Municipality', 'Alūksne Municipality',
       'Babīte Municipality', 'Baldone Municipality',
       'Balvi Municipality', 'Bauska Municipality',
       'Burtnieki Municipality', 'Carnikava Municipality',
       'Cēsis Municipality', 'City of Liepāja', 'Daugavpils',
       'Daugavpils Municipality', 'Dobele Municipality',
       'Engure Municipality', 'Garkalne Municipality',
       'Grobiņa Municipality', 'Gulbene Municipality',
       'Iecava Municipality', 'Ikšķile Municipality',
       'Inčukalns Municipality', 'Jēkabpils', 'Jēkabpils Municipality',
       'Jelgava', 'Jelgava Municipality', 'Jūrmala',
       'Ķegums Municipality', 'Ķekava Municipality',
       'Kocēni Municipality', 'Krāslava Municipality',
       'Krimulda Municipality', 'Kuldīga Municipality',
       'Lielvārde Municipality', 'Limbaži Municipality',
       'Madona Municipality', 'Mārupe Municipality', 'Ogre Municipality',
       'Olaine Municipality', 'Ozolnieki Municipality',
       'Preiļi Municipality', 'Priekuļi Municipality', 'Rēzekne',
       'Rēzekne Municipality', 'Riga', 'Ropaži Municipality',
       'Salacgrīva Municipality', 'Salaspils Municipality',
       'Saldus Municipality', 'Saulkrasti Municipality',
       'Sigulda Municipality', 'Smiltene Municipality',
       'Stopiņi Municipality', 'Talsi Municipality',
       'Tukums Municipality', 'Valmiera', 'Ventspils',
       'Ventspils Municipality', 'Drenthe', 'Flevoland', 'Friesland',
       'Gelderland', 'Groningen', 'Limburg', 'North Brabant',
       'North Holland', 'Overijssel', 'South Holland', 'Utrecht',
       'Zeeland', 'Greater Poland Voivodeship',
       'Kuyavian-Pomeranian Voivodeship', 'Lesser Poland Voivodeship',
       'Łódź Voivodeship', 'Lower Silesian Voivodeship',
       'Lublin Voivodeship', 'Lubusz Voivodeship', 'Masovian Voivodeship',
       'Opole Voivodeship', 'Podkarpackie Voivodeship',
       'Podlaskie Voivodeship', 'Pomeranian Voivodeship',
       'Silesian Voivodeship', 'Świętokrzyskie Voivodeship',
       'Warmian-Masurian Voivodeship', 'West Pomeranian Voivodeship',
       'Aveiro District', 'Azores', 'Beja District', 'Braga',
       'Bragança District', 'Castelo Branco District', 'Coimbra District',
       'Évora District', 'Faro District', 'Guarda District',
       'Leiria District', 'Lisbon', 'Madeira', 'Portalegre District',
       'Porto District', 'Santarém District', 'Setubal',
       'Viana do Castelo District', 'Vila Real District',
       'Viseu District', 'Alba County', 'Arad County', 'Argeș County',
       'Bacău County', 'Bihor County', 'Bistrița-Năsăud County',
       'Botoșani County', 'Brăila County', 'Brașov County', 'Bucharest',
       'Buzău County', 'Călărași County', 'Caraș-Severin County',
       'Cluj County', 'Constanța County', 'Covasna County',
       'Dâmbovița County', 'Dolj County', 'Galați', 'Giurgiu County',
       'Gorj County', 'Harghita County', 'Hunedoara County',
       'Ialomița County', 'Iași County', 'Ilfov County',
       'Maramureș County', 'Mehedinți County', 'Mureș County',
       'Neamț County', 'Olt County', 'Prahova', 'Sălaj',
       'Satu Mare County', 'Sibiu', 'Suceava County', 'Teleorman County',
       'Timiș County', 'Tulcea County', 'Vâlcea County', 'Vaslui County',
       'Vrancea County', 'Blekinge County', 'Dalarna County',
       'Gavleborg County', 'Gotland County', 'Halland County',
       'Jamtland County', 'Jonkoping County', 'Kalmar County',
       'Kronoberg County', 'Norrbotten County', 'Örebro County',
       'Östergötland County', 'Skåne County', 'Södermanland County',
       'Stockholm County', 'Uppsala County', 'Varmland County',
       'Västerbotten County', 'Västernorrland County',
       'Västmanland County', 'Västra Götaland County',
       'Administrative unit Maribor', 'Ajdovščina', 'Brežice', 'Celje',
       'Cerknica', 'Črnomelj', 'Domžale', 'Dravograd', 'Gornja Radgona',
       'Grosuplje', 'Idrija', 'Ilirska Bistrica', 'Izola', 'Jesenice',
       'Kamnik', 'Kočevje', 'Koper', 'Kranj', 'Krško', 'Laško', 'Lenart',
       'Lendava', 'Litija', 'Ljubljana', 'Ljutomer', 'Logatec', 'Metlika',
       'Mozirje', 'Municipality of Hrastnik', 'Murska Sobota',
       'Nova Gorica', 'Novo Mesto', 'Ormož', 'Pesnica', 'Piran',
       'Postojna', 'Ptuj', 'Radlje ob Dravi', 'Radovljica',
       'Ravne na Koroškem', 'Ribnica', 'Ruše', 'Šentjur', 'Sevnica',
       'Sežana', 'Škofja Loka', 'Slovenj Gradec', 'Slovenska Bistrica',
       'Slovenske Konjice', 'Šmarje pri Jelšah', 'Tolmin', 'Trbovlje',
       'Trebnje', 'Tržič', 'Velenje', 'Vrhnika', 'Zagorje ob Savi',
       'Žalec', 'Banská Bystrica Region', 'Bratislava Region',
       'Košice Region', 'Nitra Region', 'Prešov Region', 'Trenčín Region',
       'Trnava Region', 'Žilina Region'], dtype=object)

---

**`sub_region_2` is counties - of which there are 2,673**

In [7]:
europeDf["sub_region_2"].unique()

array([nan, 'Eisenstadt', 'Eisenstadt-Umgebung District', ...,
       'Turčianske Teplice District', 'Tvrdošín District',
       'Žilina District'], dtype=object)

In [9]:
len(europeDf["sub_region_2"].unique())

2673

---

**`metro_area` is not used**

In [11]:
europeDf["metro_area"].unique()

array([nan])

---

**`iso_3166_2_code` is used and relates to regions.**

In [12]:
europeDf["iso_3166_2_code"].unique()

array([nan, 'AT-1', 'AT-2', ..., 'SK-TC', 'SK-TA', 'SK-ZI'], dtype=object)

---

**`census_fips_code` is not used.**

In [13]:
europeDf["census_fips_code"].unique()

array([nan])

---

## Create a new data frame containing just the rows with `sub_region_2`

In [4]:
len(europeDf["place_id"].unique())

3304

In [5]:
europeSubRegion2Df = europeDf[europeDf["sub_region_2"].notnull()]

In [6]:
len(europeSubRegion2Df["place_id"].unique())

2647

We now have 2,674 rows instead of 3,304. Not a great reduction...

---

## Get the lat long coordinates for each unique `place_id`

In [18]:
uniquePlaceIdsDf = europeSubRegion2Df[["place_id"]].drop_duplicates()

Access the google maps api to get coordinates for each `place_id`

In [19]:
with open('./secrets/googleapikey.txt', 'r') as f:
    key = f.read()

In [20]:
def get_lat_long(place_id):
    try:
        API_KEY = key.rstrip("\n")
        url = "https://maps.googleapis.com/maps/api/place/details/json?place_id=" + str(place_id) + "&key=" + str(API_KEY) + "&fields=geometry"
        
        response = (requests.get(url).text)
        response_json = json.loads(response)
        
        if "result" in response_json:
            result = response_json["result"]
            if "geometry" in result:
                geometry = result["geometry"]
                if "location" in geometry:
                    location = geometry["location"]
                    return location["lat"], location["lng"]
                else:
                    return None, None
            else:
                return None, None
        else:
            return None, None
    
    except Exception as e:
        raise e

In [22]:
uniquePlaceIdsDf.loc[:, "lat"], uniquePlaceIdsDf.loc[:, "lng"] = zip(*uniquePlaceIdsDf['place_id'].map(get_lat_long))

In [23]:
uniquePlaceIdsDf.head()

                         place_id      lat      lng
924   ChIJrziXHO43bEcR306wHEnyAlE  47.8464   16.528
1298  ChIJPaH4E0lPbEcR0jlSWowdN2I  47.8808  16.6721
1737  ChIJCUxcuQnpbkcRG0c2Jl5j0a0  47.0593  16.3245
2153  ChIJuRM1csjjbkcRdLPeHyNbg6o  46.9371  16.1296
2490  ChIJ3_3OS7wxbEcRGTfCAPgqt5A  47.7362  16.3966

I'll save these coordinates as a CSV file for later use.

In [24]:
uniquePlaceIdsDf.to_csv("./output-data/europe-sub-region-2-lat-lng.csv", index=False)

In [25]:
len(uniquePlaceIdsDf)

2647

---

## Merge the coordinates with the original `sub_region_2` data frame

In [7]:
uniquePlaceIdsDf = pd.read_csv("./output-data/europe-sub-region-2-lat-lng.csv")

In [8]:
europeSubRegion2MergeDf = pd.merge(europeSubRegion2Df, uniquePlaceIdsDf, on='place_id', how='outer')

In [9]:
europeSubRegion2MergeDf.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,lat,lng
0,AT,Austria,Burgenland,Eisenstadt,NaN,NaN,NaN,ChIJrziXHO43bEcR306wHEnyAlE,2020-02-15,-4.0,-9.0,NaN,NaN,NaN,NaN,47.84637,16.52796
1,AT,Austria,Burgenland,Eisenstadt,NaN,NaN,NaN,ChIJrziXHO43bEcR306wHEnyAlE,2020-02-17,3.0,4.0,NaN,5.0,7.0,NaN,47.84637,16.52796
2,AT,Austria,Burgenland,Eisenstadt,NaN,NaN,NaN,ChIJrziXHO43bEcR306wHEnyAlE,2020-02-18,0.0,2.0,NaN,-4.0,7.0,NaN,47.84637,16.52796
3,AT,Austria,Burgenland,Eisenstadt,NaN,NaN,NaN,ChIJrziXHO43bEcR306wHEnyAlE,2020-02-19,-7.0,7.0,NaN,-3.0,5.0,NaN,47.84637,16.52796
4,AT,Austria,Burgenland,Eisenstadt,NaN,NaN,NaN,ChIJrziXHO43bEcR306wHEnyAlE,2020-02-20,0.0,3.0,NaN,4.0,5.0,NaN,47.84637,16.52796

---

## Calculate 7 day rolling averages for each location

In [10]:
def add_rolling_average(df):
    df.loc[:, "retail-average"] = df["retail_and_recreation_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    df.loc[:, "grocery-average"] = df["grocery_and_pharmacy_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    df.loc[:, "parks-average"] = df["parks_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    df.loc[:, "transit-average"] = df["transit_stations_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    df.loc[:, "workplace-average"] = df["workplaces_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    df.loc[:, "residential-average"] = df["residential_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    
    return df

In [11]:
europeSubRegion2AverageDf = europeSubRegion2MergeDf.groupby("place_id").apply(add_rolling_average)

In [12]:
europeSubRegion2AverageDf[1000000:1000005]

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,...,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,lat,lng,retail-average,grocery-average,parks-average,transit-average,workplace-average,residential-average
1000000,SE,Sweden,Stockholm County,Salem Municipality,NaN,NaN,NaN,ChIJ8eJRdycNX0YRfvG06GYpON0,2020-04-27,NaN,...,-35.0,NaN,59.195579,17.757501,NaN,NaN,NaN,-36.714286,NaN,NaN
1000001,SE,Sweden,Stockholm County,Salem Municipality,NaN,NaN,NaN,ChIJ8eJRdycNX0YRfvG06GYpON0,2020-04-28,NaN,...,-32.0,NaN,59.195579,17.757501,NaN,NaN,NaN,-41.714286,NaN,NaN
1000002,SE,Sweden,Stockholm County,Salem Municipality,NaN,NaN,NaN,ChIJ8eJRdycNX0YRfvG06GYpON0,2020-04-29,NaN,...,-29.0,NaN,59.195579,17.757501,NaN,NaN,NaN,-40.428571,NaN,NaN
1000003,SE,Sweden,Stockholm County,Salem Municipality,NaN,NaN,NaN,ChIJ8eJRdycNX0YRfvG06GYpON0,2020-04-30,NaN,...,-38.0,NaN,59.195579,17.757501,NaN,NaN,NaN,-42.000000,NaN,NaN
1000004,SE,Sweden,Stockholm County,Salem Municipality,NaN,NaN,NaN,ChIJ8eJRdycNX0YRfvG06GYpON0,2020-05-01,NaN,...,-84.0,NaN,59.195579,17.757501,NaN,NaN,NaN,-41.285714,NaN,NaN

---

## Round the average figures to 1 decimal place for a smaller final file size

In [13]:
europeSubRegion2RoundedDf = europeSubRegion2AverageDf.round({
    'retail-average': 1,
    'grocery-average': 1,
    'parks-average': 1,
    'transit-average': 1,
    'workplace-average': 1,
    'residential-average': 1
})

---

## Remove any NaN `place_id`s

In [14]:
europeSubRegion2NotNaDf = europeSubRegion2RoundedDf[europeSubRegion2RoundedDf["place_id"].notna(
)]

---

## Convert the data into a python dictionary so it can be exported as json

In [15]:
def create_list_for_json(df):
    outputList = []
    listOfPlaceIds = df["place_id"].drop_duplicates().to_list()
    groupByPlaceId = df.groupby("place_id")
    
    for place_id in listOfPlaceIds:
        thisDf = groupByPlaceId.get_group(place_id)
        parksList = thisDf["parks-average"].to_list()
        
        # Some of the parks columns contain all NaNs, we'll skip these
        if np.isnan(parksList).all():
            continue
        
        myDict = {}
        myDict['lng'] = thisDf.iloc[0]["lng"]
        myDict["lat"] =  thisDf.iloc[0]["lat"]

        # parks_percent_change_from_baseline
        myDict["parks"] = thisDf.set_index("date")["parks-average"].to_dict()

        outputList.append(myDict)
        
    return outputList

In [16]:
europeSubRegion2List = create_list_for_json(europeSubRegion2NotNaDf)

In [17]:
len(europeSubRegion2List)

991

In [19]:
with open("./public/data/europe-parks.json", "w") as outfile: 
    json.dump(europeSubRegion2List, outfile, ignore_nan=True)

---

## Missing `sub_region_2` for many countries in Europe

Many countries, such as Ireland and Germany are missing `sub_region_2` rows.

In [11]:
europeDf[europeDf["country_region"] == "Ireland"]["sub_region_1"].unique()

array([nan, 'County Carlow', 'County Cavan', 'County Clare',
       'County Cork', 'County Donegal', 'County Dublin', 'County Galway',
       'County Kerry', 'County Kildare', 'County Kilkenny',
       'County Laois', 'County Leitrim', 'County Limerick',
       'County Longford', 'County Louth', 'County Mayo', 'County Meath',
       'County Monaghan', 'County Offaly', 'County Roscommon',
       'County Sligo', 'County Tipperary', 'County Waterford',
       'County Westmeath', 'County Wexford', 'County Wicklow'],
      dtype=object)

In [12]:
europeDf[europeDf["country_region"] == "Ireland"]["sub_region_2"].unique()

array([nan], dtype=object)