# google-covid-19-mobility-data-process-world

In this notebook I will refine the process from `google-covid-19-mobility-data-process-v1` in order to get the highest resolution data possible for a map of the World.

In [1]:
import pandas as pd
import requests
import simplejson as json
import numpy as np

---

## Load a reduced CSV containing just the United States entries

In [2]:
worldDf = pd.read_csv("./output-data/world.csv")

In [3]:
worldDf.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-15,1.0,6.0,-2.0,-1.0,2.0,1.0
1,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-16,-2.0,5.0,2.0,-2.0,2.0,1.0
2,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-17,-3.0,2.0,4.0,-3.0,2.0,1.0
3,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-18,-3.0,2.0,1.0,-2.0,2.0,1.0
4,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-19,-3.0,1.0,0.0,-1.0,2.0,1.0

---

**`sub_reigon_1` is regions**

In [5]:
worldDf["sub_region_1"].unique()

array(['Abu Dhabi', 'Ajman', 'Dubai', ..., 'Matabeleland North Province',
       'Matabeleland South Province', 'Midlands Province'], dtype=object)

---

## Get the lat long coordinates for each unique `place_id`

In [7]:
uniquePlaceIdsDf = worldDf[["place_id"]].drop_duplicates()

Access the google maps api to get coordinates for each `place_id`

In [9]:
with open('./secrets/googleapikey.txt', 'r') as f:
    key = f.read()

In [10]:
def get_lat_long(place_id):
    try:
        API_KEY = key.rstrip("\n")
        url = "https://maps.googleapis.com/maps/api/place/details/json?place_id=" + str(place_id) + "&key=" + str(API_KEY) + "&fields=geometry"
        
        response = (requests.get(url).text)
        response_json = json.loads(response)
        
        if "result" in response_json:
            result = response_json["result"]
            if "geometry" in result:
                geometry = result["geometry"]
                if "location" in geometry:
                    location = geometry["location"]
                    return location["lat"], location["lng"]
                else:
                    return None, None
            else:
                return None, None
        else:
            return None, None
    
    except Exception as e:
        raise e

In [11]:
uniquePlaceIdsDf.loc[:, "lat"], uniquePlaceIdsDf.loc[:, "lng"] = zip(*uniquePlaceIdsDf['place_id'].map(get_lat_long))

In [12]:
uniquePlaceIdsDf.head()

                         place_id      lat      lng
0     ChIJGczaTT5mXj4RBNmakTvGr4s  23.4677  53.7369
462   ChIJHwyp6rZXXz4RerixWbtcrRE  25.4052  55.5136
924   ChIJRcbZaklDXz4R6SkAK7_QznQ  24.9822  55.4029
1386  ChIJX7kokD0y9D4RvDyz2xuxwaY  25.4111  56.2482
1848  ChIJpwnSTA5x9j4RD-KEpgxnnrk  25.6741  55.9804

I'll save these coordinates as a CSV file for later use.

In [13]:
uniquePlaceIdsDf.to_csv("./output-data/world-sub-region-1-lat-lng.csv", index=False)

In [14]:
len(uniquePlaceIdsDf)

1871

---

## Merge the coordinates with the original `sub_region_2` data frame

In [4]:
uniquePlaceIdsDf = pd.read_csv("./output-data/world-sub-region-1-lat-lng.csv")

In [5]:
worldMergeDf = pd.merge(worldDf, uniquePlaceIdsDf, on='place_id', how='outer')

In [6]:
worldMergeDf.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,lat,lng
0,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-15,1.0,6.0,-2.0,-1.0,2.0,1.0,23.467723,53.736915
1,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-16,-2.0,5.0,2.0,-2.0,2.0,1.0,23.467723,53.736915
2,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-17,-3.0,2.0,4.0,-3.0,2.0,1.0,23.467723,53.736915
3,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-18,-3.0,2.0,1.0,-2.0,2.0,1.0,23.467723,53.736915
4,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-19,-3.0,1.0,0.0,-1.0,2.0,1.0,23.467723,53.736915

---

## Calculate 7 day rolling averages for each location

In [7]:
def add_rolling_average(df):
    df.loc[:, "retail-average"] = df["retail_and_recreation_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    df.loc[:, "grocery-average"] = df["grocery_and_pharmacy_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    df.loc[:, "parks-average"] = df["parks_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    df.loc[:, "transit-average"] = df["transit_stations_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    df.loc[:, "workplace-average"] = df["workplaces_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    df.loc[:, "residential-average"] = df["residential_percent_change_from_baseline"].rolling(window=7, center=True).mean()
    
    return df

In [8]:
worldAverageDf = worldMergeDf.groupby("place_id").apply(add_rolling_average)

In [9]:
worldAverageDf.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,...,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,lat,lng,retail-average,grocery-average,parks-average,transit-average,workplace-average,residential-average
0,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-15,1.0,...,2.0,1.0,23.467723,53.736915,NaN,NaN,NaN,NaN,NaN,NaN
1,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-16,-2.0,...,2.0,1.0,23.467723,53.736915,NaN,NaN,NaN,NaN,NaN,NaN
2,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-17,-3.0,...,2.0,1.0,23.467723,53.736915,NaN,NaN,NaN,NaN,NaN,NaN
3,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-18,-3.0,...,2.0,1.0,23.467723,53.736915,-1.714286,3.285714,2.285714,-2.428571,1.428571,1.0
4,AE,United Arab Emirates,Abu Dhabi,NaN,NaN,AE-AZ,NaN,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-19,-3.0,...,2.0,1.0,23.467723,53.736915,-2.000000,3.000000,2.857143,-2.571429,1.571429,1.0

---

## Round the average figures to 1 decimal place for a smaller final file size

In [10]:
worldRoundedDf = worldAverageDf.round({
    'retail-average': 1,
    'grocery-average': 1,
    'parks-average': 1,
    'transit-average': 1,
    'workplace-average': 1,
    'residential-average': 1
})

---

## Remove any NaN `place_id`s

In [11]:
worldNotNanDf = worldRoundedDf[worldRoundedDf["place_id"].notna(
)]

---

## Convert the data into a python dictionary so it can be exported as json

In [39]:
def create_list_for_json(df):
    outputList = []
    listOfPlaceIds = df["place_id"].drop_duplicates().to_list()
    groupByPlaceId = df.groupby("place_id")
    
    for place_id in listOfPlaceIds:
        thisDf = groupByPlaceId.get_group(place_id)
        parksList = thisDf["parks-average"].to_list()
        
        # Some of the parks columns contain all NaNs, we'll skip these
        if np.isnan(parksList).all():
            continue
        
        myDict = {}
        myDict['lng'] = thisDf.iloc[0]["lng"]
        myDict["lat"] =  thisDf.iloc[0]["lat"]

        # parks_percent_change_from_baseline
        myDict["parks"] = thisDf.set_index("date")["parks-average"].to_dict()

        outputList.append(myDict)
        
    return outputList

In [40]:
worldList = create_list_for_json(worldNotNanDf)

In [41]:
len(worldList)

1345

In [42]:
worldList[0]

{'lng': 53.7369154,
 'lat': 23.467723499999998,
 'parks': {'2020-02-15': nan,
  '2020-02-16': nan,
  '2020-02-17': nan,
  '2020-02-18': 2.3,
  '2020-02-19': 2.9,
  '2020-02-20': 2.9,
  '2020-02-21': 3.1,
  '2020-02-22': 3.3,
  '2020-02-23': 2.6,
  '2020-02-24': 1.9,
  '2020-02-25': 0.3,
  '2020-02-26': -0.4,
  '2020-02-27': -0.4,
  '2020-02-28': -1.0,
  '2020-02-29': -1.4,
  '2020-03-01': -1.4,
  '2020-03-02': -1.9,
  '2020-03-03': -2.7,
  '2020-03-04': -2.6,
  '2020-03-05': -2.1,
  '2020-03-06': -1.9,
  '2020-03-07': -1.4,
  '2020-03-08': -0.7,
  '2020-03-09': -1.0,
  '2020-03-10': -2.0,
  '2020-03-11': -3.4,
  '2020-03-12': -5.6,
  '2020-03-13': -7.6,
  '2020-03-14': -9.9,
  '2020-03-15': -11.9,
  '2020-03-16': -14.1,
  '2020-03-17': -17.6,
  '2020-03-18': -20.3,
  '2020-03-19': -23.1,
  '2020-03-20': -26.3,
  '2020-03-21': -29.6,
  '2020-03-22': -33.4,
  '2020-03-23': -37.0,
  '2020-03-24': -41.9,
  '2020-03-25': -46.0,
  '2020-03-26': -48.3,
  '2020-03-27': -50.3,
  '2020-03-28': -51.4,
  '2020-03-29': -52.0,
  '2020-03-30': -52.4,
  '2020-03-31': -51.9,
  '2020-04-01': -50.7,
  '2020-04-02': -50.6,
  '2020-04-03': -50.6,
  '2020-04-04': -53.6,
  '2020-04-05': -56.6,
  '2020-04-06': -59.3,
  '2020-04-07': -60.9,
  '2020-04-08': -63.6,
  '2020-04-09': -66.7,
  '2020-04-10': -69.6,
  '2020-04-11': -69.7,
  '2020-04-12': -69.9,
  '2020-04-13': -69.3,
  '2020-04-14': -68.9,
  '2020-04-15': -68.4,
  '2020-04-16': -68.0,
  '2020-04-17': -67.6,
  '2020-04-18': -67.1,
  '2020-04-19': -66.9,
  '2020-04-20': -67.0,
  '2020-04-21': -67.4,
  '2020-04-22': -67.7,
  '2020-04-23': -67.9,
  '2020-04-24': -68.1,
  '2020-04-25': -68.3,
  '2020-04-26': -68.0,
  '2020-04-27': -67.4,
  '2020-04-28': -66.9,
  '2020-04-29': -65.7,
  '2020-04-30': -64.6,
  '2020-05-01': -63.4,
  '2020-05-02': -62.3,
  '2020-05-03': -61.3,
  '2020-05-04': -60.6,
  '2020-05-05': -60.1,
  '2020-05-06': -59.7,
  '2020-05-07': -59.3,
  '2020-05-08': -58.9,
  '2020-05-09': -58.6,
  '2020-05-10': -58.4,
  '2020-05-11': -58.3,
  '2020-05-12': -58.0,
  '2020-05-13': -57.7,
  '2020-05-14': -57.3,
  '2020-05-15': -56.9,
  '2020-05-16': -56.4,
  '2020-05-17': -56.4,
  '2020-05-18': -56.6,
  '2020-05-19': -56.7,
  '2020-05-20': -57.7,
  '2020-05-21': -59.1,
  '2020-05-22': -60.1,
  '2020-05-23': -61.0,
  '2020-05-24': -60.6,
  '2020-05-25': -60.1,
  '2020-05-26': -59.7,
  '2020-05-27': -58.1,
  '2020-05-28': -56.0,
  '2020-05-29': -54.0,
  '2020-05-30': -52.6,
  '2020-05-31': -52.0,
  '2020-06-01': -51.4,
  '2020-06-02': -50.7,
  '2020-06-03': -50.4,
  '2020-06-04': -50.3,
  '2020-06-05': -50.3,
  '2020-06-06': -50.0,
  '2020-06-07': -49.7,
  '2020-06-08': -49.6,
  '2020-06-09': -49.3,
  '2020-06-10': -48.9,
  '2020-06-11': -48.6,
  '2020-06-12': -48.4,
  '2020-06-13': -48.0,
  '2020-06-14': -47.9,
  '2020-06-15': -47.7,
  '2020-06-16': -47.6,
  '2020-06-17': -47.4,
  '2020-06-18': -47.4,
  '2020-06-19': -47.1,
  '2020-06-20': -47.0,
  '2020-06-21': -46.7,
  '2020-06-22': -46.1,
  '2020-06-23': -45.7,
  '2020-06-24': -45.4,
  '2020-06-25': -44.9,
  '2020-06-26': -44.3,
  '2020-06-27': -43.6,
  '2020-06-28': -43.0,
  '2020-06-29': -42.3,
  '2020-06-30': -41.9,
  '2020-07-01': -41.1,
  '2020-07-02': -40.6,
  '2020-07-03': -40.1,
  '2020-07-04': -39.9,
  '2020-07-05': -39.6,
  '2020-07-06': -39.4,
  '2020-07-07': -39.3,
  '2020-07-08': -39.3,
  '2020-07-09': -39.1,
  '2020-07-10': -39.1,
  '2020-07-11': -39.0,
  '2020-07-12': -39.0,
  '2020-07-13': -39.1,
  '2020-07-14': -39.1,
  '2020-07-15': -39.4,
  '2020-07-16': -39.4,
  '2020-07-17': -39.3,
  '2020-07-18': -39.6,
  '2020-07-19': -39.7,
  '2020-07-20': -39.7,
  '2020-07-21': -39.6,
  '2020-07-22': -39.1,
  '2020-07-23': -39.0,
  '2020-07-24': -38.9,
  '2020-07-25': -38.6,
  '2020-07-26': -37.7,
  '2020-07-27': -39.1,
  '2020-07-28': -39.0,
  '2020-07-29': -39.3,
  '2020-07-30': -40.0,
  '2020-07-31': -40.7,
  '2020-08-01': -41.1,
  '2020-08-02': -42.0,
  '2020-08-03': -40.7,
  '2020-08-04': -41.1,
  '2020-08-05': -41.0,
  '2020-08-06': -40.3,
  '2020-08-07': -39.7,
  '2020-08-08': -39.4,
  '2020-08-09': -39.3,
  '2020-08-10': -39.0,
  '2020-08-11': -38.7,
  '2020-08-12': -39.0,
  '2020-08-13': -39.1,
  '2020-08-14': -39.1,
  '2020-08-15': -39.1,
  '2020-08-16': -39.1,
  '2020-08-17': -39.6,
  '2020-08-18': -39.9,
  '2020-08-19': -39.7,
  '2020-08-20': -40.4,
  '2020-08-21': -40.7,
  '2020-08-22': -40.6,
  '2020-08-23': -40.3,
  '2020-08-24': -39.7,
  '2020-08-25': -39.6,
  '2020-08-26': -39.6,
  '2020-08-27': -38.9,
  '2020-08-28': -38.3,
  '2020-08-29': -38.0,
  '2020-08-30': -37.7,
  '2020-08-31': -37.7,
  '2020-09-01': -37.1,
  '2020-09-02': -36.6,
  '2020-09-03': -36.0,
  '2020-09-04': -35.7,
  '2020-09-05': -35.4,
  '2020-09-06': -35.1,
  '2020-09-07': -34.9,
  '2020-09-08': -34.3,
  '2020-09-09': -33.9,
  '2020-09-10': -33.6,
  '2020-09-11': -33.0,
  '2020-09-12': -32.6,
  '2020-09-13': -32.0,
  '2020-09-14': -31.7,
  '2020-09-15': -31.6,
  '2020-09-16': -31.4,
  '2020-09-17': -31.4,
  '2020-09-18': -31.3,
  '2020-09-19': -31.7,
  '2020-09-20': -32.9,
  '2020-09-21': -33.7,
  '2020-09-22': -34.4,
  '2020-09-23': -35.6,
  '2020-09-24': -36.9,
  '2020-09-25': -38.3,
  '2020-09-26': -38.9,
  '2020-09-27': -38.6,
  '2020-09-28': -38.1,
  '2020-09-29': -37.7,
  '2020-09-30': -37.1,
  '2020-10-01': -36.4,
  '2020-10-02': -35.7,
  '2020-10-03': -35.1,
  '2020-10-04': -34.7,
  '2020-10-05': -34.1,
  '2020-10-06': -33.3,
  '2020-10-07': -32.4,
  '2020-10-08': -31.9,
  '2020-10-09': -31.0,
  '2020-10-10': -30.3,
  '2020-10-11': -30.0,
  '2020-10-12': -30.1,
  '2020-10-13': -30.1,
  '2020-10-14': -30.4,
  '2020-10-15': -30.7,
  '2020-10-16': -31.1,
  '2020-10-17': -31.3,
  '2020-10-18': -30.7,
  '2020-10-19': -29.3,
  '2020-10-20': -28.1,
  '2020-10-21': -27.3,
  '2020-10-22': -26.3,
  '2020-10-23': -25.3,
  '2020-10-24': -24.6,
  '2020-10-25': -23.9,
  '2020-10-26': -23.6,
  '2020-10-27': -23.4,
  '2020-10-28': -23.7,
  '2020-10-29': -24.0,
  '2020-10-30': -24.7,
  '2020-10-31': -25.1,
  '2020-11-01': -26.1,
  '2020-11-02': -27.1,
  '2020-11-03': -27.4,
  '2020-11-04': -27.6,
  '2020-11-05': -28.0,
  '2020-11-06': -28.3,
  '2020-11-07': -28.7,
  '2020-11-08': -28.7,
  '2020-11-09': -28.4,
  '2020-11-10': -28.1,
  '2020-11-11': -27.7,
  '2020-11-12': -27.4,
  '2020-11-13': -26.9,
  '2020-11-14': -26.1,
  '2020-11-15': -25.9,
  '2020-11-16': -26.0,
  '2020-11-17': -25.6,
  '2020-11-18': -25.6,
  '2020-11-19': -25.6,
  '2020-11-20': -25.6,
  '2020-11-21': -25.6,
  '2020-11-22': -25.7,
  '2020-11-23': -25.7,
  '2020-11-24': -25.7,
  '2020-11-25': -25.9,
  '2020-11-26': -25.9,
  '2020-11-27': -25.0,
  '2020-11-28': -21.0,
  '2020-11-29': -11.3,
  '2020-11-30': -7.9,
  '2020-12-01': -7.1,
  '2020-12-02': -7.1,
  '2020-12-03': -7.0,
  '2020-12-04': -7.7,
  '2020-12-05': -11.6,
  '2020-12-06': -20.9,
  '2020-12-07': -23.9,
  '2020-12-08': -23.7,
  '2020-12-09': -22.6,
  '2020-12-10': -21.3,
  '2020-12-11': -20.3,
  '2020-12-12': -19.4,
  '2020-12-13': -19.0,
  '2020-12-14': -19.1,
  '2020-12-15': -19.3,
  '2020-12-16': -19.7,
  '2020-12-17': -20.3,
  '2020-12-18': -20.7,
  '2020-12-19': -21.3,
  '2020-12-20': -21.6,
  '2020-12-21': -21.6,
  '2020-12-22': -21.9,
  '2020-12-23': -22.0,
  '2020-12-24': -22.1,
  '2020-12-25': -22.0,
  '2020-12-26': -21.6,
  '2020-12-27': -21.3,
  '2020-12-28': -17.1,
  '2020-12-29': -16.4,
  '2020-12-30': -16.9,
  '2020-12-31': -17.3,
  '2021-01-01': -18.1,
  '2021-01-02': -19.1,
  '2021-01-03': -20.0,
  '2021-01-04': -24.6,
  '2021-01-05': -26.0,
  '2021-01-06': -25.9,
  '2021-01-07': -26.0,
  '2021-01-08': -25.9,
  '2021-01-09': -26.0,
  '2021-01-10': -26.3,
  '2021-01-11': -26.6,
  '2021-01-12': -25.9,
  '2021-01-13': -26.3,
  '2021-01-14': -26.9,
  '2021-01-15': -27.4,
  '2021-01-16': -27.7,
  '2021-01-17': -27.7,
  '2021-01-18': -27.7,
  '2021-01-19': -28.1,
  '2021-01-20': -28.3,
  '2021-01-21': -28.3,
  '2021-01-22': -28.3,
  '2021-01-23': -28.3,
  '2021-01-24': -28.3,
  '2021-01-25': -27.7,
  '2021-01-26': -26.9,
  '2021-01-27': -26.4,
  '2021-01-28': -26.4,
  '2021-01-29': -26.0,
  '2021-01-30': -25.7,
  '2021-01-31': -25.7,
  '2021-02-01': -25.9,
  '2021-02-02': -25.7,
  '2021-02-03': -25.6,
  '2021-02-04': -25.3,
  '2021-02-05': -25.4,
  '2021-02-06': -25.4,
  '2021-02-07': -25.0,
  '2021-02-08': -24.9,
  '2021-02-09': -25.1,
  '2021-02-10': -25.0,
  '2021-02-11': -24.3,
  '2021-02-12': -23.9,
  '2021-02-13': -23.3,
  '2021-02-14': -22.9,
  '2021-02-15': -22.1,
  '2021-02-16': -21.1,
  '2021-02-17': -20.1,
  '2021-02-18': -20.1,
  '2021-02-19': -20.1,
  '2021-02-20': -20.1,
  '2021-02-21': -20.4,
  '2021-02-22': -20.7,
  '2021-02-23': -21.4,
  '2021-02-24': -22.0,
  '2021-02-25': -22.1,
  '2021-02-26': -22.0,
  '2021-02-27': -22.1,
  '2021-02-28': -22.0,
  '2021-03-01': -21.7,
  '2021-03-02': -21.9,
  '2021-03-03': -22.1,
  '2021-03-04': -22.1,
  '2021-03-05': -22.3,
  '2021-03-06': -22.1,
  '2021-03-07': -22.0,
  '2021-03-08': -22.0,
  '2021-03-09': -22.1,
  '2021-03-10': -22.4,
  '2021-03-11': -22.3,
  '2021-03-12': -22.1,
  '2021-03-13': -22.1,
  '2021-03-14': -22.4,
  '2021-03-15': -22.7,
  '2021-03-16': -22.9,
  '2021-03-17': -22.4,
  '2021-03-18': -22.3,
  '2021-03-19': -22.0,
  '2021-03-20': -21.7,
  '2021-03-21': -21.4,
  '2021-03-22': -21.4,
  '2021-03-23': -21.7,
  '2021-03-24': -21.6,
  '2021-03-25': -21.3,
  '2021-03-26': -20.9,
  '2021-03-27': -20.4,
  '2021-03-28': -19.7,
  '2021-03-29': -19.1,
  '2021-03-30': -19.0,
  '2021-03-31': -19.0,
  '2021-04-01': -18.1,
  '2021-04-02': -17.7,
  '2021-04-03': -17.3,
  '2021-04-04': -17.0,
  '2021-04-05': -16.7,
  '2021-04-06': -16.4,
  '2021-04-07': -16.0,
  '2021-04-08': -16.6,
  '2021-04-09': -17.1,
  '2021-04-10': -19.7,
  '2021-04-11': -21.6,
  '2021-04-12': -23.4,
  '2021-04-13': -26.3,
  '2021-04-14': -27.9,
  '2021-04-15': -28.6,
  '2021-04-16': -29.1,
  '2021-04-17': -27.7,
  '2021-04-18': -27.0,
  '2021-04-19': -26.3,
  '2021-04-20': -26.0,
  '2021-04-21': -25.7,
  '2021-04-22': -25.7,
  '2021-04-23': -25.6,
  '2021-04-24': -25.7,
  '2021-04-25': -25.9,
  '2021-04-26': -26.1,
  '2021-04-27': -26.0,
  '2021-04-28': -26.0,
  '2021-04-29': -25.9,
  '2021-04-30': -25.9,
  '2021-05-01': -25.9,
  '2021-05-02': -25.7,
  '2021-05-03': -25.6,
  '2021-05-04': -25.7,
  '2021-05-05': -25.7,
  '2021-05-06': -25.6,
  '2021-05-07': -24.7,
  '2021-05-08': -24.6,
  '2021-05-09': -24.4,
  '2021-05-10': -21.1,
  '2021-05-11': -18.0,
  '2021-05-12': -17.6,
  '2021-05-13': -17.3,
  '2021-05-14': -17.7,
  '2021-05-15': -17.4,
  '2021-05-16': -17.3,
  '2021-05-17': -20.0,
  '2021-05-18': -22.0,
  '2021-05-19': nan,
  '2021-05-20': nan,
  '2021-05-21': nan}}

In [43]:
with open("./public/data/world-parks.json", "w") as outfile: 
    json.dump(worldList, outfile, ignore_nan=True)

## Test to drop dates with NaN values

In [26]:
test = pd.DataFrame([['a',1],['a',2],['b',3], ["c", np.nan], ["d", np.nan], ["e", 20] ], columns=['date', "parks-average"])

In [27]:
test.head()

  date  parks-average
0    a            1.0
1    a            2.0
2    b            3.0
3    c            NaN
4    d            NaN

In [28]:
test2 = test.set_index("date")

In [29]:
test2.head()

      parks-average
date
a               1.0
a               2.0
b               3.0
c               NaN
d               NaN

In [32]:
test2["parks-average"].dropna().to_dict()

{'a': 2.0, 'b': 3.0, 'e': 20.0}

In [33]:
test.set_index("date").dropna().to_dict()

{'parks-average': {'a': 2.0, 'b': 3.0, 'e': 20.0}}